canvas {
    border: 1px solid black;
    width: 560px;
    height: 360px;
  }
body{background-color:white; cursor:url("smalltools/pen.png");}
#buttons {
  position: absolute;
  top: 5px;
  left: 10px;
}
#reset {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}
label {
    font: 1rem 'Fira Sans', sans-serif;
}
input {
    margin: .4rem;
}
.button {
  background-size: 40px 40px;
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
}
.icon {
  float: left;
}
.slidecontainer {
  width: 80%;
}
.slider {
  float: left;
  -webkit-appearance: none;
  width: 30%;
  height: 10px;
  border-radius: 5px;
  background: #25b3d6;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.image-upload>input {
  display: none;
}

#eraserIcon {
  cursor: url("smalltools/eraser.png"), auto;
}

#penIcon {
  cursor: url("smalltools/pen.png"), auto;
}
#textIcon{
  cursor: url("smalltools/text.png"),auto;
}
#circleIcon{
  cursor: url("smalltools/circle.png"),auto;
}
#triangleIcon{
  cursor: url("smalltools/triangle.png"),auto;
}
#rectangleIcon{
  cursor: url("smalltools/rectangle.png"),auto;
}